<div class="container-holder">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 offset-md-2 about-section">
        <h2 class="title-contact mb-4">
          About Me
        </h2>
        <img src="/public/images/sp.png" class="mb-4" alt="profile">

        <p class="mb-5 about-inner-text">
          Hi, I am Pau Sang, a certified Full-Stack Web Developer with a background in Bachelor of Theology and
          life-long dedication to learning. Adept at working with diverse teams to implement JavaScript projects .
          <br>
          <br>
          Done multiple small projects in Web Development languages on my own or with team members.
          Proficient in HTML, CSS , JavaScript, React , MongoDB and others interest in back-end programming in general.
          The willingness and the boldness to learn new things on a regular basic.
          Certifications in A+ and Networking Fundamental. I invite you to visit my <a
            class="link-custom" href="/portfolio">Project
            Section</a> 
          Github. Thank You.</p> <a href="/portfolio" class="link-about">Go
          to Projects <i class="fas fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>