<div class="container-holder">
  <div class="container-fluid">
    <div class="row portfolio">
      <span class="closing-toggle text-right btn d-block d-md-none" data-state="open"><i class="fas fa-times"></i></span>
      <div class="col-sm-12 col-md-6 offset-md-2 overlay-content-section project-content">
        <h2 class="ProjectName">
          Clicky Game
        </h2>

        <p class="subtitle mb-4">
          Role: Front-Ent Developer
        </p>
        <p class="text-container-inner mt-1 mb-4">
          Create a memory game with React. This application's Ul into components, 
          manage component state , and respond to user events.
          It features React, React-dom and react-scripts dependencies.
        </p>
        <div class="gallery">
          <img src="public/images/clicky.png" alt="CLICKY GAME" class="img-inner1 img">
          
        </div>
        <a href="#" id="btn-display">Show Images</a>
        <ul class="links-port text-right">
          <li class="link-under-2">

            <a href="https://github.com/pausang/my-app" class="btn btn-custom under-1" target="_blank">SEE
              CODE</a>

          </li>
         

        </ul>
      </div>
      <div class="col-sm-12 col-md-3 right-test order-first order-md-last">

        <ul class="menu__list mt-3 px-0">
          <h3 class="projectsub mb-4">PROJECTS</h3>
          
          <li class="menu__item">
            <a href="" class="menu__link menu__link1">Clicky Game</a>
          </li>
        
          <li class="menu__item">
            <a href="" class="menu__link menu__link2">Eat-Da-Burger!</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link menu__link3">FriendFinder</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link menu__link4">Bamazon</a>
          </li>
          
          <li class="menu__item">
            <a href="" class="menu__link menu__link5">Scrape</a>
          </li>
          
          
        </ul>
      </div>
    </div>
  </div>
</div>